*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #f0f0f0;
}

::selection {
  background-color: #9092ff;
}

a {
  color: unset;
  text-decoration: none;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.detail > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.detail > div:not(:last-child) {
  border-bottom: 1px solid grey;
}

.detail .text {
  font-weight: bold;
}

.detail .value {
  text-align: right;
}

.detail .attribute .value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.detail .icon img {
  width: 100px;
}

.detail .description {
  display: block;
}
